################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs
/WebApplication1/.vs/WebApplication1
/WebApplication1/WebApplication1/bin/Debug/net8.0
/WebApplication1/WebApplication1/obj
/WebGental.BookStore/.vs/WebGental.BookStore
/WebGental.BookStore/WebGental.BookStore/bin/Debug/netcoreapp3.1
/WebGental.BookStore/WebGental.BookStore/obj
/WebGental.BookStore/WebGental.BookStore/wwwroot
